:root {
  --primary: #687EFF;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* display: none; */
}

.navbar,
.hero,
.about,
.struktur {
  display: none;
}

.per {
  display: flex;
  color: #fff;
  width: 100%;
  height: 100vh;
  /* background-color: tan; */
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media (max-width: 320px) {

  body {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* body {
    display: inline-block;
  } */
  .per {
    display: none;
  }

  #hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(1, 1, 1, 0.8);
    border-bottom: 1px solid #090e22;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 24rem;
    height: 100vh;
    transition: .4s;
  }

  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }

  .navbar .navbar-logo span {
    color: var(--primary);
  }

  .navbar .navbar-nav.active {
    right: 0;
    overflow: hidden;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover {
    color: var(--primary);
  }

  .navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: .5rem;
    border-bottom: .1rem solid var(--primary);
    transform: scaleX(0);
    transition: .2s linear;
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    /* transform: scaleX(.5); */
    transform: scaleX(.2);
  }

  .navbar .navbar-extra a {
    color: #fff;
    margin: 0 .5rem;
  }

  .navbar-extra {
    display: flex;
  }

  .navbar .navbar-extra a:hover {
    color: var(--primary);
  }

  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 28%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
  }

  .hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
  }

  .hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, .5);
    line-height: 1.2;
    font-size: 4em;
  }

  .hero .content h1 span {
    color: var(--primary);
  }

  .hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, .5);
    color: #fff;
    /* mix-blend-mode: difference; */
  }

  .hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: .5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, .5);
  }

  .about,
  .menu,
  .contact,
  .struktur {
    padding: 6rem 7% 1.4rem;
    height: 100vh;
    display: inline-block;
  }

  .about h2,
  .menu h2,
  .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  .about h2 span,
  .struktur h2 span,
  .menu h2 span,
  .contact h2 span {
    color: var(--primary);
  }

  .about .row {
    display: flex;
    flex-wrap: wrap;
  }

  .about .row .about-img {
    flex: .6 1 45rem;
    text-align: center;
    /* height: 31vh; */
  }

  .about .row .about-img img {
    /* width: 90%; */
    width: 100%;
    border-radius: 1rem;
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    flex: 1 1 35rem;
    /* padding: 0 1rem; */
    padding: 0;
    text-align: center;
    display: inline-block;
    /* background-color: var(--primary); */
    width: 100%;
    height: 100%;
  }

  .about .row .content h3 {
    /* font-size: 1.8rem; */
    margin-bottom: .6rem;
    margin-top: 1rem;
    font-size: 2rem;

  }

  .about .row .content p {
    margin-bottom: .5rem;
    /* font-size: 1.4rem; */
    font-weight: 100;
    line-height: 1.6;
    font-size: 1.6rem;
  }

  .menu h2,
  .contact h2 {
    margin-bottom: 1rem;
  }

  .menu p,
  .contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
  }

  .all-member {
    color: #fff;
    font-size: 1.6rem;
    padding: .6rem;
    background-color: var(--primary);
    margin: 1rem auto;
    border-radius: .5rem;
  }

  .menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: .5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, .5);
  }


  /* Struktur section  */
  .struktur {
    /* display: flex; */
    /* align-items: center; */
    height: 150vh;
    background-image: url('../img/struktur-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .struktur h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 4rem;
  }

  .struktur p {
    /* margin-bottom: .8rem; */
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin-bottom: .7rem;
  }

  .strukut .row {
    display: flex;
    /* background-color: aqua; */
  }

  .struktur-card {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    /* flex-wrap: wrap; */
    /* margin: 10px;  */


    /* display: inline-block;
    /* Memberikan jarak antar gambar */
  }

  .struktur .row .struktur-card .imgstruktur {
    width: 30%;
    border-radius: 20%;
    /* box-shadow: 1px 2px 1px white; */
    cursor: pointer; /* Menjadikan kursor menjadi pointer saat dihover */
    margin-left: 1rem;
    /* display: inline-block;
    max-width: 200px; /* Lebar maksimum untuk gambar */
    /* height: auto; */ 
  }

  .struktur .row .struktur-card .deskripsi {
    /* background-color: tomato; */
    display: inline-block;
    margin-top: 1rem;
    height: 100%;
  }

  .struktur .row .struktur-card .deskripsi h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: .1rem;
  }

  .struktur .row .struktur-card .deskripsi p {
    text-align: left;
    margin-left: 3rem;
    font-size: 1.3rem;
    cursor: pointer;
  }

  /* CSS untuk pop-up */
  .popup {
    display: none;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: .5s; */
    text-align: center;
    background-color: var(--primary);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 1.7rem;
    z-index: 9999;
  }

  .popup .imgpopup {
    width: 100%;
    border-radius: .8rem;
    margin-bottom: .7rem;
  }

  .popup .tbl-popup {
    background-color: gold;
    padding: .8rem;
    margin: 1rem;
    border-radius: .6rem;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .popup .tbl-popup:hover {
    background-color: var(--bg);
    color: white;
  }

}